name: Deploy EduMPI GUI for Windows

env:
  QT_VERSION: 6.8.1
  MSYS2_LOCATION: ${{ steps.msys2.outputs.msys2-location }}

on:
  push:
    branches:
      - 'master'
      - 'windows-deployment'

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ env.QT_VERSION }}
          host: windows
          target: desktop
          arch: win64_mingw
          modules: 'qtshadertools qtquick3d'
          tools: 'tools_mingw1310 tools_cmake tools_ninja'
          cache: true

      - name: Install MSYS Postgres
        uses: msys2/setup-msys2@v2
        with:
          install: >-
            mingw-w64-x86_64-postgresql
      
      - name: Create Ninja.build with CMake
        run: |
          mkdir windows-build
          cmake -G "Ninja" -S . -B windows-build -DCMAKE_MAKE_PROGRAM=ninja

      - name: Build with Ninja
        run: ninja -C windows-build

      - name: Run windeployqt
        run: windeployqt --qmldir .. --dir release windows-build/appGUI_Cluster.exe

      - name: Add Postgres DLLs
        run: |
          copy "$env:MSYS2_LOCATION\mingw64\bin\libpq.dll" windows-build/release
          copy "$env:MSYS2_LOCATION\mingw64\bin\libssl-3-x64.dll" windows-build/release
          copy "$env:MSYS2_LOCATION\mingw64\bin\libcrypto-3-x64.dll" windows-build/release
          copy "$env:MSYS2_LOCATION\mingw64\bin\libintl-8.dll" windows-build/release
          copy "$env:MSYS2_LOCATION\mingw64\bin\libiconv-2.dll" windows-build/release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: windows-build/release/
